@import 'common.scss';
*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
}
html,body,.wrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wrap{
    display: flex;
    flex-direction: column;
}
.main{ // 父
    flex:1;
    overflow:hidden;
    width: 100%;
}
header{
    width: 100%;
    height:pxTorem(50px);
    background:pink;
    line-height: pxTorem(50px);
}
.content{ // scroll
    width: 100%;
    //height: pxTorem(3000px);
    position: relative;
    ul{
        li{
            a{
                display: flex;
                p{
                    width: 30%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
           
        }
    }
    .loading{
        width: 100%;
        height:pxTorem(50px);
        background:pink;
        position: absolute;
        bottom:pxTorem(-50px);
        left:0;
    }
}